<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div class="wrap_content">
      <img src="./assets/logo-small.svg" alt="Logo nestjs" width="150" />
      <p> {{ message }} </p>
    </div>
  </body>
</html>
